<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>人民医院公众服务平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/css/slider.css">
<script src="/js/jquery-1.11.1.min.js"></script>
<script th:inline="javascript">
			jQuery(document).ready(function($) {
                $("#s"+[[${type}]]).css("background-color","red");
			});
</script>
<style type="text/css">
    *{padding:0;margin:0;}
    body{
    	background-color: 	Lavender;
    }

	li{
				list-style: none;
				font-family: 微软雅黑;
				line-height: 50px;
				font-size: 15px;
				float: left;
				margin-right: 100px;
		}
	
	.left1 div:hover{
		background-color: red;
	}
	
</style>

</head>
<body>
			<!--minhead-->

            <div th:replace="minhead::minhead"></div>

            <!-- 导航条-->
           <div style="width: 1000px;height: 50px;background-color: white;margin: auto;" >
              <li><a href="/">首页</a></li>
              <li><a href="/online/queryOnlineDoctors">在线就诊</a></li>
              <li><a href="/history/queryHistory">全国医院</a></li>
              <li><a href="/detail.html">就医推荐</a></li>
              <li><a href="/tribune.html" target="_blank">病友论坛</a></li>
           </div><br><br>
           <div style="width: 1000px;height: auto;margin: auto;overflow:auto;">
           	  <div class="left1" style="width: 100px;height:auto;background-color: white;float: left;">
                  <div id="s0" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/0">推荐热门</a></p>
                  </div>
                  <div id="s1" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/1">疾病小常识</a></p>
                  </div>
                  <div id="s2" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/2">运动小知识</a></p>
                  </div>
                  <div id="s3" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/3">日常疾病</a></p>
                  </div>
                  <div id="s4" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/4">科学养生</a></p>
                  </div>
                  <div id="s5" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/5">健康食谱</a></p>
                  </div>
                  <div id="s6" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/6">病后恢复</a></p>
                  </div>
                  <div id="s7" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/7">今日报道</a></p>
                  </div>
                  <div id="s8" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/8">骨科介绍</a></p>
                  </div>
                  <div id="s9" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/9">感冒小课堂</a></p>
                  </div>
                  <div id="s10" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/10">女生小秘密</a></p>
                  </div>
                  <div id="s11" style="width: 100px;height: 40px;line-height: 30px;text-align: center; ">
                  	 <p style="font-size: 10px;font-family: 微软雅黑;"><a href="/article/queryNews/11">其他</a></p>
                  </div>

           	  </div>

              <div style="width: 800px;height: auto;float: right;overflow:auto;">
              	<div style="width: 800px;height: 300px;background-color: red;overflow: hidden;">
              		<img src="http://localhost:8080/img/upload/ad2.jpg"><!--广告位-->

              	</div><br>
              	<div th:if="${result ne null}" th:each="article:${result}" style="width: 800px;height: 80px;overflow: hidden;line-height: 25px;">
              		<h1 style="font-size: 15px;font-family: 微软雅黑;font-weight: bold;">&nbsp;&nbsp;<a th:href="@{'/article/queryDetail/'+${article.id}}" target="_blank" th:text="${article.title}"></a></h1>
                    <p style="font-size: 10px;font-family: 微软雅黑;"  th:text="'&nbsp;&nbsp;'+${article.content}"></p><!--只展示一行内容最多62字符-->
                    <p style="font-size: 10px;font-family: 微软雅黑; " th:text="'&nbsp;&nbsp;作者名称: '+${article.userId}+'  发布时间: '+${article.createTime}+'  阅读量: '+${article.readNum !=null?article.readNum:0}"></p>
              	</div>
              </div>
           </div>
	    	<br><br><br><br><br><br><br>
	    		<!--font-->
        <div style="width: 1000px;height: 100px;margin: auto;line-height: 30px;font-size: 15px;color: gray;text-align: center;">
             <p>关于我们 | 友情链接 | 版权声明 | 客服中心 | 联系我们</p>
             <p>版权声明 | 作者编委 | 投稿邮箱 1225125821@qq.com</p>
             <p>地址：中国-内江师范学院</p>
        </div>
</body>
</html>